{{#if success_msg}}
<div class="alert alert-success">{{success_msg}}</div>

{{/if}}



{{#if info_msg}}
<div class="alert alert-primary w-50  text-center mx-auto">{{info_msg}} <button type="button" class="btn  btn-sm" name="close" data-dismiss="alert">&times;</button></div>


{{/if}}



{{#if error_msg}}
<div class="alert alert-danger">{{error_msg}}</div>

{{/if}}